<%- include('includes/head')%>

<div class="error-404 section-100 bg-black">
    <div class="container">
        <h1>ERROR 404</h1>
        <p>Você precisa <a href="/login/index">entrar</a> para efetuar esta operação.</p>
        
    </div>
</div>

<%- include('includes/footer')%>