<!-- 
    Com extensão .ejs
    Parecido com html
    Mas da pra usar coisas como if, echo, else, loops
    aqui.
    html com superpoderes
-->
<%- include('includes/head'); %>

    <%- include('includes/nav') %>
    <div class="home section-100 bg-black page-content" id="home">
        <div class="home-flex container">
            <div class="home-text">
                <h1 class="cl-white toUpper">Contact List</h1>
                <p class="cl-white">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem consectetur dolor, quidem nisi sapiente iure?
                </p>
                <a href="/contact/index" class="home-btn">My List</a>
            </div>  
            <div class="home-img">
                <img 
                src="/assets/img/undraw_People_search_re_5rre.svg"
                alt="" srcset="">
            </div>
        </div>   
    </div>

  

<%- include('includes/footer') %>